.card {
  height: fit-content;
  overflow: hidden;
  margin-bottom: var(--spacing-md);
}
.card .img-container {
  border-radius: var(--radius-md);
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card .description h3 {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .description .user {
  justify-content: flex-start;
  font-size: 14px;
  margin-top: var(--spacing-sm);
}
.card .description .user .img-container {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
