/* main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--spacing-md);
  padding: var(--spacing-sm);
} */

/* main .column {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--spacing-md);
} */

main {
  padding: var(--spacing-sm);
  width: 100%;
  column-count: 3;
}

@media (max-width: 576px) {
  main {
    column-count: 2;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  main {
    column-count: 4;
  }
}
@media (min-width: 1501px) {
  main {
    column-count: 6;
  }
}
